<!--=================================
Page-head
 =================================-->
 
 <section id="page-head">
 
 	<div class="head-image parallax  BG2"></div>
    
    <div class="breadcrumbs">
    	<div class="container">
        	<ul>
            	<li><a href="#">Home</a></li>
                <li><a href="#">About</a></li> 
            </ul>
        </div>
    </div>
    
    <div class="page-line parallax">
    	<div class="container">
        	
            <div class="page-title">About Ortax</div>
            <div class="row">
            	<div class="col-lg-10 col-md-10 col-sm-10 col-lg-offset-1 col-md-offset-1 col-sm-offset-1">
                    <div class="page-info">
                        <p>Pellentesque ut tellus non turpis convallis sagittis. Aliquam erat volutpat. Aliquam a nisl purus, id accumsan massa. Donec orei olestie nisi sit amet metus vehicula adipiscing.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
 
 
 </section>
 
 <!--=================================
 Portfolio
 =================================-->
 <section id="about-wrapper">
 
 	
    <div class="container">
    
    	<div class="row">
        
        	<div class="col-lg-6 col-sm-6 col-md-6">
            	<div class="enlarge-text">
                	<p>AS A MODERN LEAD GENERATION AGENCY, WE CAN HELP YOU GENERATE MORE NEW BUSINESS OPPORTUNITIES THROUGH EXPERT WEB DESIGN, SEARCH ENGINE OPTIMISATION AND CONTENT MARKETING.</p>
                </div>
            	
            </div>
            
            <div class="col-lg-6 col-sm-6 col-md-6">
            	<div class="small-text">
                	<p>Curabitur auctor massa et arcu eleifend sollicitudin. Proin condimentum non risus quis volutpat. Phasellus placerat ultricies erat convallis rutrum. Duis euismod, sem venenatis porttitor posuere, felis elit cursus metus, et ornare nulla lectus aliquam nulla. In hac habitasse platea dictumst. Phasellus accumsan nibh quis purus varius ornare. Aliquam eget pulvinar metus. Aenean quis adipiscing lectus. Vivamus tempor sem ut vulputate consequat. Vivamus faucibus placerat nisi, ut mollis odio congue eget. Aliquam eget pulvinar metus. Fusce elementum lacus vel ligula auctor, vehicula imperdiet purus fermentum. Nulla suscipit condimentum dui, non rutrum dui. Fusce eu tortor tellus. Morbi id augue nisi. In vitae libero sagittis, aliquet arcu id.</p>
                </div>
            	
            </div>
            
        </div>
        
        <div class="row">
        
        	<div class="col-lg-12 col-sm-12 col-md-12">
            	
                <div class="about-visual">
					<%= image_tag('general/about.jpg', class: 'about-pic') %>
                	<!--<img class="about-pic" src="assets/img/general/about.jpg" alt="" />-->
                </div>
            	
            </div>
        
    	</div>
        
        
        <div class="features">
        	
            <div class="section-heading">Main Features</div>
            
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <div class="service">
                        <div class="service-visual service-hover-a service-hover">
                            <span class="service-icon icon-desktop"></span>
                        </div>
                        <div class="head">
                            Flat Design
                        </div>
                        <p>That is why our micro-campaigns and solutions are individually crafted for each of our clients.</p>
                    </div>
                </div><!--service column-->
                
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <div class="service">
                        <div class="service-visual service-hover-a service-hover">
                            <span class="service-icon icon-tablet"></span>
                        </div>
                        <div class="head">
                            USER EXPERIENCE
                        </div>
                        <p>We understand your story is unique. That is why our micro-campaigns and solutions are</p>
                    </div>
                </div><!--service column-->
                
                
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <div class="service">
                        <div class="service-visual service-hover-a service-hover">
                            <span class="service-icon icon-file-alt"></span>
                        </div>
                        <div class="head">
                           Unlimted Colors
                        </div>
                        <p>Converting pixel-perfect designs into functional web apps is an art. Coding</p>
    
                    </div>
                </div><!--service column-->
                
                
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <div class="service">
                        <div class="service-visual service-hover-a service-hover">
                            <span class="service-icon icon-folder-open-alt"></span>
                        </div>
                        <div class="head">
                            Easy to Use
                        </div>
                        <p>Brick and mortar selling is only half the battle. We understand the difference and offer user-friendly</p>
                    </div>
                </div><!--service column-->
                
            </div>
    	</div>
        
        
        <div class="service-detail">
        	<div class="section-heading">Services & Trade Offices</div>
            
            <div class="row">
            	<div class="col-lg-4 col-md-4 col-sm-4">
                	<ul class="services-list">
                    	<li><span class="icon-chevron-right"></span>GeoIP Country Web Service</li>
                        <li><span class="icon-chevron-right"></span>Powerful mappings</li>
                        <li><span class="icon-chevron-right"></span>City/ISP/Organization Web Service</li>
                        <li><span class="icon-chevron-right"></span>MinFraud Web Services</li>
                        <li><span class="icon-chevron-right"></span>Proxy Detection queries</li>
                        <li><span class="icon-chevron-right"></span>Flexible XML Marshalling</li>
                        <li><span class="icon-chevron-right"></span>Reuses your Spring expertise</li>
                        <li><span class="icon-chevron-right"></span>Integrates with Spring Security</li>
                        <li><span class="icon-chevron-right"></span>Built by Maven </li>
                        <li><span class="icon-chevron-right"></span>Apache license</li>
                        
                    </ul>
                </div>
                
                
                <div class="col-lg-8 col-md-8 col-sm-8">
                	<div class="small-text">
                    	<p>Curabitur auctor massa et arcu eleifend sollicitudin. Proin condimentum non risus quis volutpat. Phasellus placerat ultricies erat convallis rutrum. Duis euismod, sem venenatis porttitor posuere, felis elit cursus metus, et ornare nulla lectus aliquam nulla. In hac habitasse platea dictumst. Phasellus accumsan nibh quis purus varius ornare. Aliquam eget pulvinar metus. Aenean quis adipiscing lectus. Vivamus tempor sem ut vulputate consequat. Vivamus faucibus placerat nisi, ut mollis odio congue eget. Aliquam eget pulvinar metus. Fusce elementum lacus vel ligula auctor, vehicula imperdiet purus fermentum. Nulla suscipit condimentum dui, non rutrum dui. Fusce eu tortor tellus. Morbi id augue nisi. In vitae libero sagittis, aliquet arcu id.</p>
                    </div>
                    
                    <div class="row address-detail">
                    
                    	<div class="col-lg-6 col-md-6 col-sm-6">
                        	<div class="address-holder">
                                <ul class="address">
                                    <li><a href="#">75 Ninth Avenue 2nd and 4th Floors<BR>
                                    New York, NY 100</a></li>
                                    
                                    <li><a href="tel:123456789">11-212-565-0000</a></li>
                                    <li><a href="tel:123456789">212-565-0001</a></li>
                                    <li><a href="mailto:supports@example.com">supports@example.com</a> </li>
                                    <li><a href="#">http://example.com</a></li> 
                                </ul>
                             </div>
                        	
                        </div>
                        
                        <div class="col-lg-6 col-md-6 col-sm-6 ">
                        	<div class="address-holder">
                                <ul class="address">
                                    <li><a href="#">75 Ninth Avenue 2nd and 4th Floors<BR>
                                    New York, NY 100</a></li>
                                    
                                    <li><a href="tel:123456789">11-212-565-0000</a></li>
                                    <li><a href="tel:123456789">212-565-0001</a></li>
                                    <li><a href="mailto:supports@example.com">supports@example.com</a> </li>
                                    <li><a href="#">http://example.com</a></li> 
                                </ul>
                            </div>
                        </div>
                    
                    </div>
                    
                </div>
                
                
            </div>
            
        </div>
        
        
        
    </div>
    
    
 </section>
 
 
<!--=================================
 Latest feeds
 =================================-->
<section id="feeds-wrapper" >
  
  <div class="container">	
  		<div class="row">
        
        	<div class="col-lg-4 col-md-4 col-sm-4 makeitfade">
            
            	<div class="head">About Ortax</div>
                <div class="about-short">
                	<p>Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus.</p>
                </div>
            </div>
            
            <div class="col-lg-4 col-md-4 col-sm-4 makeitfade">
            	<div class="head">Ortax News</div>
                <div class="latest-blog">
                    <div class="latest-post">
                        <div class="post-date">
                            <div data-hover="17" class="date">17</div>
                            <div class="month">July</div>
                        </div>
                        <div class="detail">
                            <a href="#" class="title">Praesent dapibus, neque id cursus</a>
                            <p>Faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. </p>
                        </div>
                    </div>
               
                    <div class="latest-post">
                        <div class="post-date">
                            <div data-hover="26" class="date">26</div>
                            <div class="month">May</div>
                        </div>
                        <div class="detail">
                            <a href="#" class="title">Praesent dapibus, neque id cursus</a>
                            <p>Faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. </p>
                        </div>
                    </div>
                 </div>
            </div>
            
            <div class="col-lg-4 col-md-4 col-sm-4 makeitfade">
            	<div class="head">Photostream @ortax</div>
                <div class="flicker-holder">
                	<ul class="flicker"></ul>
                </div>
            </div>
         
        </div>
  </div>
  


</section>
 <!--=================================
 promo-line
 =================================-->

<section id="promo-line" class="parallax">
    <div class="container">
        <div class="row">
             <div class="col-lg-10 col-md-10 col-sm-10 col-lg-offset-1 col-md-offset-1 col-md-offset-1">
                                  
                <h4>Ortax help companies succeed by connecting with audiences and building handcrafted websites to deliver extraordinary results</h4>
                <div class="link"><a href="#">Only on Themeforest</a></div>
             </div>
        </div>
    </div>
</section>

<!--=================================
 Contact
 =================================-->
<section id="contact-wrapper">
	<div class="container">
    	<div class="section-icon"><span class="icon-envelope-alt"></span></div>
    	<div class="section-heading">Contact Ortax</div>
        <div class="section-subheading">Want to work with us or just want to say hello? Call us at (323) 205-6876.</div>
    	
        <form>
            <div class="row">
            	<div class="col-lg-3 col-md-3 col-sm-3">
                	<input type="text" placeholder="Name" />
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3">
                	<input type="text" placeholder="Email" />
                </div>
                
                <div class="col-lg-3 col-md-3 col-sm-3">
                	<textarea placeholder="Message"></textarea>
                </div>
                
                <div class="col-lg-3 col-md-3 col-sm-3">
                	<button type="submit"><span class="send-icons"><span class="send-text">Throw it!</span></span></button>
                </div>
                
            </div>
        </form>
        
    </div>
 
    
</section> 
<!--=================================
 Map
 =================================-->

<section id="our-location">
	<div class="container">
		<div class="section-heading">On the Map</div>
    </div>
    	
	<div id="contact-map"></div>
	
</section> 