<div class='row'>
	<div class='span6 offset3'>
		<%= render 'shared/flash_messages' %>
		<%= form_tag sessions_path, id: 'contact-form' do %>
		<div class="span3">
			<%= text_field_tag :email, "", placeholder: 'Email', class: 'span3' %>
		</div>
		
		<%= text_field_tag :password, "", placeholder: 'Password' %>
		<button type="submit">Sign In!</button>
		<button class="btn btn-hg btn-primary">
		  Boss Button
		</button>
		<% end %>
	</div>
</div>
