<header class='navbar'>
	<div class='navbar-inner' id='mid-menu'>
		<div class='container'>
			<div class='navbar-header'>
				<button type='button' 
					class='btn btn-navbar' 
					data-toggle='collapse' 
					data-target='#nav-collapse-02'>
				</button>
			</div>
			<div class='nav-collapse collapse' id='nav-collapse-02'>
				<ul class='nav mid-menu'>
					<li class='active'>
						<%= link_to 'All Applications', user_apps_path(@user) %>
					</li>
					<li></li>
				</ul>
			</div><!-- nav-collapse-->
		</div><!-- container-->
	</div><!-- navbar-inner -->
</header>
