<header class='navbar'>
	<div class='navbar-inner' id='mid-menu'>
		<div class='container'>
			<div class='navbar-header'>
				<button type='button' 
					class='btn btn-navbar' 
					data-toggle='collapse' 
					data-target='#nav-collapse-02'>
				</button>
			</div>
			<div class='nav-collapse collapse' id='nav-collapse-02'>
				<ul class='nav mid-menu'>
					<li class='active'>
						
						<%= link_to 'Applications', '#', class: 'mid-menu' %>
						<ul>
							<li><%= link_to 'My Apps', user_apps_path(@user) %></li>
							<li><%= link_to 'Create an App', new_user_app_path(@user) %></li>
						</ul>
					</li>
					<li></li>
				</ul>
			</div><!-- nav-collapse-->
		</div><!-- container-->
	</div><!-- navbar-inner -->
</header>
